*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 18px;
    background-color: #494949;
}

/* Navbar */
.navbar {
    padding: 0;
    display: flex;
    justify-content: space-between;


    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;

    width: 100%;
    padding: 20px 20px 22px 20px;
    background: #AF8F783b;
    color: white;
    box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.15);
}

.navbar ul li button a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.navbar ul li button a:link,
a:visited, a:active {
    color: white;
    text-decoration: none;
}

.menu {
    margin-top: 15px;
}

.menu li {
    display: inline;
    margin-right: 100px;
}

.mobile-navbar{
    display: none;
}

/* Header Button */

.btn-home {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 33.2px;
    padding-top: 37px;

    color: white;
    background-color: none;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    height: 90px;
    width: 150px;
    margin: -50px -100px -20px 0;
}

.btn-home:hover {
    color: white;
    background-color: #af8f7833;
    cursor: pointer;
}

.btn-home:active {
    color: white;
    opacity: 0.7;
}

.btn-about-me {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 33.2px;
    padding-top: 37px;

    color: white;
    background-color: none;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    height: 90px;
    width: 150px;
    margin: -50px -50px -20px 0;
}

.btn-about-me:hover {
    color: white;
    background-color: #af8f7833;
    cursor: pointer;
}

.btn-about-me:active {
    color: white;
    opacity: 0.7;
}

.btn-contacts {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 33.2px;
    padding-top: 37px;

    color: white;
    background-color: none;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    height: 90px;
    width: 150px;
    margin: -50px -70px -20px -55px;
}

.btn-contacts:hover {
    color: white;
    background-color: #af8f7833;
    cursor: pointer;
}

.btn-contacts:active {
    color: white;
    opacity: 0.7;
}

.btn-cv {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 33.2px 50px;
    padding-top: 37px;

    color: white;
    background-color: none;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    height: 90px;
    width: 150px;
    margin: -50px -100px -20px -30px;
}

.btn-cv:hover {
    color: white;
    background-color: #af8f7833;
    cursor: pointer;
}

.btn-cv:active {
    color: white;
    opacity: 0.7;
}



/* Header Logo */
.nav-logo {
    margin-top: 5px;
}

.logo-img {
    margin-left: 40px;
}

/* Image Background */

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: bottom;
    background-color: rgba(33, 33, 33, 0);
    z-index: -1;
}

/* Main */
.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-bottom: 200px;
    color: white;
}

.main-text {
    text-align: center;
    width: 40%;
    margin-top: 50px;
}

.main-h1 {
    margin-top: -40px;
    margin-bottom: 20px;
}

/* Main About me */
.main-aboutme {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    color: white;
    padding: 30px;
}

.img-aboutme {
    max-width: 300px;
    border-radius: 150px;
}

.p-aboutme {
    padding: 50px;
}

/* Container Portfolio */
.container-portfolio {
    text-align: center;
    margin-top: 150px;
    color: white;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.my-work-1 {
    padding: 40px;
    margin: 40px 10px;
}

.my-work-img {
    width: 100%;
    padding: 0 0 40px 0;
}

/* Form Contacts */
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.contact-form form {
    width: 670px;
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
}

.contact-form form p {
    color: #fff;
    padding: 15px;
}

.contact-form form h1 {
    color: #fff;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.contact-form form input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.contact-form form input::placeholder {
    color: #fff;
}

.contact-form form #lastName,
.contact-form form #mobile {
    margin-left: 20px;
}

.contact-form form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-height: 150px;
    max-height: 150px;
    min-width: 620px;
    max-width: 620px;
}

.contact-form form h4 {
    font-size: 20px;
}

.contact-form form #button {
    border: none;
    background: #fff;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #111;
    width: 150px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.2s;
}

.contact-form form #button:hover {
    background: #111;
    color: #fff;
    transition: .2s ease-in-out;
}

/*CV Loris*/
.cv-loris {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px;
}

.cv-img {
    width: 100%;
    text-align: center;
}

/* Footer */
.footer-home {
    margin-top: auto;
    margin-bottom: 0;
    background-color: #111;
    width: 100%;
}

.footer-aboutme {
    margin-top: auto;
    margin-bottom: 0;
    background-color: #111;
    width: 100%;
}

.footer-contact {
    margin-top: auto;
    margin-bottom: 0;
    background-color: #111;
    width: 100%;
}

.footer-cv {
    margin-top: auto;
    margin-bottom: 0;
    background-color: #111;
    width: 100%;
}

.footerContainer {
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #111;
    opacity: 0.9;
}

/* Hover effect on social media icons */
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5S;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #111;
    padding: 20px;
    text-align: center;
    font-size: 0.6em;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    font-weight: 400;
}

/* Mobile Portrait */
@media only screen and (max-width: 576px) {
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
    .main {
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .background-image {
        height: 860px;
    }

    .effetto-ia {
        width: 120px;
        height: 120px;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .container-portfolio {
        margin-top: 0px;
    }

    .my-work-1 {
        margin-top: 0;
        padding-bottom: 10px;
    }

    .my-work-2 {
        margin-bottom: 80px;
    }

    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .navbar{
        display: none;
    }

    .mobile-navbar {
        padding: 0;
        display: block;
        width: 100%;

        font-size: 18px;
        font-family: Helvetica, sans-serif;
        font-weight: 600;

        background: #AF8F783b;
        color: white;
        box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.15);
    }

    .mobile-navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    .mobile-navbar ul a{
        display: block;
        padding: 20px;
        text-decoration: none;
    }

    .mobile-navbar ul a:hover{
        background-color: #494949aa;
    }

    .mobile-navbar .nav-logo{
        float: left;
        padding: 10px 20px;
        text-decoration: none;
    }

    .mobile-navbar .menu{
        z-index: 1;
        clear: both;
        margin-top: 0;
        max-height: 0;
        transition: max-height 0.7s ease-out;
    }

    .mobile-navbar .menu li{
        display: contents;
        margin-right: 0;
    }

    .mobile-navbar .menu-icon{
        padding: 40px 30px;
        position: relative;
        float: right;
        cursor: pointer;
    }

    .mobile-navbar .menu-icon .nav-icon{
        background-color: white;
        display: block;
        width: 18px;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
    }

   .mobile-navbar .menu-icon .nav-icon:before,
   .mobile-navbar .menu-icon .nav-icon:after{
        background-color: white;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        transition: all .2s ease-out;
        position: absolute;
    }

    .mobile-navbar .menu-icon .nav-icon:after{
        top: -5px;
    }    
    
    .mobile-navbar .menu-icon .nav-icon:after{
        top: -5px;
    }

    .mobile-navbar .menu-btn{
        display: none;
    }

    .mobile-navbar .menu-btn:checked ~ .menu{ 
        max-height: 1000px;
    }

    .main-aboutme {
        flex-direction: column;
    }

    .p-aboutme {
        font-size: 18px;
    }

    .img-aboutme {
        height: 250px;
        width: 190px;
    }

    .contact-form {
        display: flex;

        justify-content: center;
        align-items: center;
        margin: 60px;
        width: 70%;
        height: 100%;
    }
    
    .contact-form form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 15px;
    }
    
    .contact-form form p {
        color: #fff;
        padding: 15px;
    }
    
    .contact-form form h1 {
        color: #fff;
        font-weight: 700;
        line-height: 2;
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }
    
    .contact-form form input {
        width: 210px;
        height: 50px;
        padding-left: 5px;
        outline: none;
        border: none;
        font-size: 20px;
        margin: 10px;
        background: none;
        border-bottom: 2px solid #fff;
        color: #fff;
    }
    
    .contact-form form input::placeholder {
        color: #fff;
    }
    
    .contact-form form #lastName,
    .contact-form form #mobile {
        margin-left: 20px;
    }
    
    .contact-form form textarea {
        background: none;
        border: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-weight: 200;
        font-size: 20px;
        padding: 10px;
        margin-top: 150px;
        outline: none;
        min-height: 150px;
        max-height: 150px;
        min-width: 350px;
        max-width: 70%;
    }
    
    .contact-form form h4 {
        font-size: 20px;
    }
    
    .contact-form form #button {
        border: none;
        background: #fff;
        border-radius: 50px;
        margin-top: 30px;
        font-weight: 600;
        font-size: 20px;
        color: #111;
        width: 150px;
        height: 60px;
        padding: 0;
        margin-bottom: 30px;
        transition: 0.2s;
    }
    
    .contact-form form #button:hover {
        background: #111;
        color: #fff;
        transition: .2s ease-in-out;
    }

    .cv-img {
        width: 100%;
    }

}

/* Tablet */
@media only screen and (min-width: 576px) and (max-width: 768px) { 
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .main {
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-portfolio {
        margin-top: 0px;
    }

    .background-image {
        height: 650px;
    }

    .effetto-ia {
        width: 125px;
        height: 125px;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .my-work-1 {
        margin-top: 0;
    }

    .navbar{
        display: none;
    }

    .mobile-navbar {
        padding: 0;
        display: block;
        width: 100%;

        font-size: 18px;
        font-family: Helvetica, sans-serif;
        font-weight: 600;

        background: #AF8F783b;
        color: white;
        box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.15);
    }

    .mobile-navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    .mobile-navbar ul a{
        display: block;
        padding: 20px;
        text-decoration: none;
    }

    .mobile-navbar ul a:hover{
        background-color: #494949aa;
    }

    .mobile-navbar .nav-logo{
        float: left;
        padding: 10px 20px;
        text-decoration: none;
    }

    .mobile-navbar .menu{
        clear: both;
        margin-top: 0;
        max-height: 0;
        transition: max-height .7s ease-out;
    }

    .mobile-navbar .menu li{
        display: contents;
        margin-right: 0;
    }

    .mobile-navbar .menu-icon{
        padding: 40px 30px;
        position: relative;
        float: right;
        cursor: pointer;
    }

    .mobile-navbar .menu-icon .nav-icon{
        background-color: white;
        display: block;
        width: 18px;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
    }

   .mobile-navbar .menu-icon .nav-icon:before,
   .mobile-navbar .menu-icon .nav-icon:after{
        background-color: white;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        transition: all .2s ease-out;
        position: absolute;
    }

    .mobile-navbar .menu-icon .nav-icon:after{
        top: -5px;
    }    
    
    .mobile-navbar .menu-icon .nav-icon:after{
        top: -5px;
    }

    .mobile-navbar .menu-btn{
        display: none;
    }

    .mobile-navbar .menu-btn:checked ~ .menu{ 
        max-height: 1000px;
    }

    .p-aboutme {
        font-size: 14px;
    }

    .img-aboutme {
        height: 300px;
        width: 300px;
    }

    .cv-img {
        width: 100%;
    }
}

/* Laptop */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navbar{
        display: none;
    }
    
    .container-portfolio {
        margin-top: 60px;
    }

    .my-work-1 {
        margin-top: 0;
        padding-bottom: 10px;
    }

    .my-work-2 {
        margin-bottom: 80px;
    }

    .background-image {
        height: 680px;
    }

    .main {
        margin-bottom: 140px;
    }
    
    .effetto-ia {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .mobile-navbar {
        padding: 0;
        display: block;
        width: 100%;

        font-size: 18px;
        font-family: Helvetica, sans-serif;
        font-weight: 600;

        background: #AF8F783b;
        color: white;
        box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.15);
    }

    .mobile-navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    .mobile-navbar ul a{
        display: block;
        padding: 20px;
        text-decoration: none;
    }

    .mobile-navbar ul a:hover{
        background-color: #494949aa;
    }

    .mobile-navbar .nav-logo{
        float: left;
        padding: 10px 20px;
        text-decoration: none;
    }

    .mobile-navbar .menu{
        clear: both;
        margin-top: 0;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    .mobile-navbar .menu li{
        display: contents;
        margin-right: 0;
    }

    .mobile-navbar .menu-icon{
        padding: 40px 30px;
        position: relative;
        float: right;
        cursor: pointer;
    }

    .mobile-navbar .menu-icon .nav-icon{
        background-color: white;
        display: block;
        width: 18px;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
    }

   .mobile-navbar .menu-icon .nav-icon:before,
   .mobile-navbar .menu-icon .nav-icon:after{
        background-color: white;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        transition: all .2s ease-out;
        position: absolute;
    }

    .mobile-navbar .menu-icon .nav-icon:after{
        top: -5px;
    }    
    
    .mobile-navbar .menu-icon .nav-icon:after{
        top: -5px;
    }

    .mobile-navbar .menu-btn{
        display: none;
    }

    .mobile-navbar .menu-btn:checked ~ .menu{ 
        max-height: 1000px;
    }
}

/* Dispositivi di grandi dimensioni */
@media only screen and (min-width: 1200px) {
    .my-work {
        padding: 0 300px 0 300px;
    }

    .my-work-img {
        width: 800px;
    }

    .cv-img {
        width: 60%;
    }
}
