*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    font-size: 18px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.684);
}


/* Navbar */
header {
    padding: 0;
    display: flex;
    justify-content: space-between;


    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;

    width: 100%;
    padding: 20px;
    background: #AF8F783b;
    color: white;
    box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.15);
}

header>ul>li>button>a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

header>ul>li>button>a:link,
a:visited {
    color: white;
    text-decoration: none;
}

.menu {
    margin-top: 15px;
}

.menu>li {
    display: inline;
    margin-right: 100px;
}


/* Header Button */

.btn-home {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 33.2px;

    color: white;
    background-color: none;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    height: 90px;
    width: 150px;
    margin: -50px -100px -20px 0;
}

.btn-home:hover {
    color: white;
    background-color: #af8f7833;
    cursor: pointer;
}

.btn-home:active {
    color: white;
    opacity: 0.7;
}

.btn-about-me {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 33.2px;

    color: white;
    background-color: none;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    height: 90px;
    width: 150px;
    margin: -50px -50px -20px 0;
}

.btn-about-me:hover {
    color: white;
    background-color: #af8f7833;
    cursor: pointer;
}

.btn-about-me:active {
    color: white;
    opacity: 0.7;
}

.btn-contacts {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 33.2px;

    color: white;
    background-color: none;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    height: 90px;
    width: 150px;
    margin: -50px -70px -20px -55px;
}

.btn-contacts:hover {
    color: white;
    background-color: #af8f7833;
    cursor: pointer;
}

.btn-contacts:active {
    color: white;
    opacity: 0.7;
}

.btn-cv {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 33.2px 50px;

    color: white;
    background-color: none;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    height: 90px;
    width: 150px;
    margin: -50px -100px -20px -30px;
}

.btn-cv:hover {
    color: white;
    background-color: #af8f7833;
    cursor: pointer;
}

.btn-cv:active {
    color: white;
    opacity: 0.7;
}



/* Header Logo */
.nav-logo {
    margin-top: 5px;
}

.logo-img {
    margin-left: 40px;
}

/* Image Background */

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 800px;
    max-width: 100%;
    background-color: rgba(33, 33, 33, 0);
    z-index: -99;
}

/* Main */
.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-bottom: 200px;
    color: white;
}

.main-text {
    text-align: center;
    width: 40%;
    margin-top: 50px;
}

.main-h1 {
    margin-top: -40px;
    margin-bottom: 20px;
}

/* Main About me */
.main-aboutme {
    display: flex;
    justify-content: center;
    text-align: center;   
    align-items: center;

    color: white;
    padding: 30px;
}

.img-aboutme {
    max-width: 300px;
    border-radius: 150px;
}

.p-aboutme {
    padding: 50px;
}

/* Container About me */
.container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -100px;
    margin-right: 150px;
}

/* Container Portfolio */
.container-portfolio {
    text-align: center;
    margin-top: 150px;
    color: white;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.my-work-1 {
    padding: 40px;
    margin: 40px 10px;
}

.my-work-img {
    width: 100%;
    padding: 0 0 40px 0;
}

/* Footer */
.footer-home {
    margin-top: auto;
    margin-bottom: 0;
    background-color: #111;
    width: 100%;
}

.footer-aboutme {
    margin-top: auto;
    margin-bottom: 0;
    background-color: #111;
    width: 100%;
    height: 650px;
}

.footer-contact {
    margin-top: auto;
    margin-bottom: 0;
    background-color: #111;
    width: 100%;
}

.footer-cv {
    margin-top: auto;
    margin-bottom: 0;
    background-color: #111;
    width: 100%;
}

.footerContainer {
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #111;
    opacity: 0.9;
}

/* Hover effect on social media icons */
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5S;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #111;
    padding: 20px;
    text-align: center;
    font-size: 0.6em;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    font-weight: 400;
}

@media only screen and (max-width: 300px) {
    .main {
        margin-top: 0;
    }
    .background-image {
        max-width: 300px;
    }
    .effetto-ia {
        display: none;
    }
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .main {
        margin-top: 100px;
        width: 100%;
        font-size: 15px;
        justify-content: center;
    }
    .background-image {
        max-width: 960px;
    }
    .effetto-ia {
        display: none;
    }
}
